<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdeh3vr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJh3m9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <h3>{{ object.id }}</h3>
        <h3>{{ object.name }}</h3>
        <h3>{{ object.age }}</h3>
        <h3>{{ object.date }}</h3>
        <h3>{{ object.skill }}</h3>
        <h3>{{ object.fees }}</h3>
        <h3>{{ object.duration }}</h3>
</body>
</html>